<template name="seaaError">
		<h1>Shopify App OAuth Error</h1>
		<h2>{{errorMesg}}</h2>
	<style>
		body {
			font-size: 16px;
			padding: 30px;
			text-align: center;
			font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
			background: #F44336;
		}

		h1 {
			text-transform: uppercase;
			color: #EF9A9A;
			font-size: 3em;
			margin: 0 0 30px 0;
		}

		h2	{
			color: #fff;
			font-size: 2em;
			margin: 0;
		}
	</style>
</template>